.lost-item {
  font-size: 12px;
}

.lost-item .row {
  flex-wrap: nowrap;
}

.item-title {
  font-weight: bold !important;
}

.card-footer {
  padding-top: 0 !important;
}

.item-attribute span {
  width: calc(100% / 5 - 10px);
  margin-left: 5px;
  font-size: 10px;
}

.item-attribute span i {
  height: 17px;
  font-size: 13px;
  margin-right: 5px;
}

.item-attribute span:first-child {
  margin-left: 0;
}
